*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html{
	font-size: 100%;
	background-color: gray;
	font-family: "微软雅黑";
}
.main{
	/*margin-bottom: 5rem;*/
}
header{
	display: flex;
	justify-content: space-between;
	background-color: cornflowerblue;
	padding: 1rem 0.5rem;
}
header .area select{
	border: none;
	background-color: cornflowerblue;
	color: white;
}
header .search{
	color: white;
}

.banner{
	font-size: 0px;
}
.banner img{
	width: 100%;
	height: 10rem;
}


.hot{
	display: flex;
	justify-content: space-around;
	background-color: gainsboro;
	padding: 1rem 0;
	
}
.hot div{
	text-align: center;
	flex: 1;
}
.hot div img{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}


.moudle{
	margin-top: 0.5rem;
	background-color: white;
}
.moudle .moudle_title{
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;
	border-bottom: 1px solid cornflowerblue;
}
.moudle .moudle_title .title{
	font-weight: bold;
	border-left: 4px solid cornflowerblue;
	color: cornflowerblue;
	padding-left: 0.5rem;
}
.moudle .moudle_title .more{
	font-size: 0.9rem;
	color: grey;
	font-weight: bold;
}
.moudle .list{
	/*width: 100%;*/
	display: flex;
	list-style: none;
	justify-content: space-around;
	/*flex-wrap: nowrap;*/
	/*overflow: scroll;*/
	/*height: 100px;*/
	padding: 0.5rem 0;
}
.moudle .list li{
	width: 30%;
	
	display: inline-block;
}
.moudle .list li img{
	width: 100%;
	height: 4rem;
}


.moudle .news li{
	font-size: 0.9rem;
	padding: 0.3rem 0.5rem;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.moudle .news li span{
	font-weight: bold;
}