*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	overflow:hidden;
	/*position:absolute;*/
}
body{
	height: 100%;
	/*background: url(../img/bg.gif) no-repeat;*/
	background-size: 100% 100%;
}
.main{
	height: 100%;
	background: url(../img/darktitle.png) no-repeat;
	background-size: 100% auto;
	display: none;
	background-position: bottom;
}
.main_div{
	height: 100%;
}
.sec1{
	background: url(../img/bg.png) no-repeat;
	background-size: 100% auto;
}
.section{  position:absolute; top:0; left:0; width:100%; height:100%; 
	/*background-color:#FCC;*/ 
}
.section.current{ display:inline-block;}
	.section.next{ display:inline-block; z-index: 2;}
	.section.prev{ display:inline-block; z-index: 2;}
@-webkit-keyframes twinkling{	/*透明度由0到1*/
	0%{
		opacity:0;				/*透明度为0*/
	}
	100%{
		opacity:1;				/*透明度为1*/
	}
}
@keyframes twinkling{	/*透明度由0到1*/
	0%{
		opacity:0;				/*透明度为0*/
	}
	100%{
		opacity:1;				/*透明度为1*/
	}
}
.tips{
	width: 100%;
	height: 100%;
	background: url(../img/tips.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
	/*z-index: 100;*/
	-webkit-animation: twinkling 3s infinite ease-in-out;
	/*-webkit-animation-delay: 10s;*/
	/*animation-delay: 100s;*/
	animation: twinkling 1s infinite 3s ease-in-out;
}
.tx{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.tx img{
	width: 100%;
}


#element{
	-webkit-animation: twinkling 1s infinite ease-in-out;
}
.row{
	/*border: 1px solid gray;*/
	/*box-sizing: border-box;*/
}
.row img{
	width: 100%;
	
}
.sec2{
	z-index: 2;
}
.teacher_list{
	height: 100%;
	overflow: scroll;
	/*position: relative;*/
	/*z-index: 100;*/
	/*padding: 5px 0;*/
	
}
.teacher_list .item{
	display: flex;
	justify-content: space-between;
	padding: 0 0.16rem;
	/*box-sizing: border-box;*/
	/*margin-bottom: 60px;*/
	/*align-items: center;*/
	border-bottom: 1px solid #d2d2d2;
	padding: 10px 0;
}
.teacher_list .img_item{
	width: 30%;
	/*background: red;*/
	text-align: center;
	/*padding: 10px 0;*/
}
.teacher_list .img_item span{
	vertical-align: middle;
	height: 100%;
	display: inline-block;
}
.teacher_list .img_item img{
	width: 80%;
	vertical-align: middle;
}
.teacher_list .content_item{
	flex: 1;
	
}
.teacher_list .content_item h3{
	font-size: 1em;
	padding-top: 5px;
}
.teacher_list .content_item p{
	font-size: 0.6em;
	padding-top: 5px;
	height: 2.5rem;
	width: 80%;
	color: #848484;
}
.teacher_list .content_item span{
	display: inline-block;
	font-size: 0.8em;
	border: 1px solid #f6ce6c;
	color: #f6ce6c;
}
