*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	overflow:hidden;
	/*position:absolute;*/
}
body{
	height: 100%;
	/*background: url(../img/bg.gif) no-repeat;*/
	background-size: 100% 100%;
}
.main{
	height: 100%;
	background: url(../img/darktitle.png) no-repeat;
	background-size: 100% auto;
	display: none;
	background-position: bottom;
}
.main_div{
	height: 100%;
}
.sec1{
	background: url(../img/bg.png) no-repeat;
	background-size: 100% auto;
}
.section{  position:absolute; top:0; left:0; width:100%; height:100%; 
	/*background-color:#FCC;*/ 
}
.section.current{ display:inline-block;}
	.section.next{ display:inline-block; z-index: 2;}
	.section.prev{ display:inline-block; z-index: 2;}
@-webkit-keyframes twinkling{	/*透明度由0到1*/
	0%{
		opacity:0;				/*透明度为0*/
	}
	100%{
		opacity:1;				/*透明度为1*/
	}
}
@keyframes twinkling{	/*透明度由0到1*/
	0%{
		opacity:0;				/*透明度为0*/
	}
	100%{
		opacity:1;				/*透明度为1*/
	}
}
.tips{
	width: 100%;
	height: 100%;
	background: url(../img/tips.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
	/*z-index: 100;*/
	-webkit-animation: twinkling 1s infinite 2s ease-in-out;
	/*-webkit-animation-delay: 10s;*/
	/*animation-delay: 100s;*/
	animation: twinkling 1s infinite 2s ease-in-out;
}
.tx{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
.tx img{
	width: 100%;
}


#element{
	-webkit-animation: twinkling 1s infinite ease-in-out;
}
.row{
	/*border: 1px solid gray;*/
	/*box-sizing: border-box;*/
}
.row img{
	width: 100%;
	
}
.sec2{
	z-index: 2;
}
.teacher_list{
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling : touch;
	/*position: relative;*/
	/*z-index: 100;*/
	/*padding: 5px 0;*/
	
}
.teacher_list .item{
	display: flex;
	justify-content: space-between;
	padding: 0 0.16rem;
	/*box-sizing: border-box;*/
	/*margin-bottom: 60px;*/
	/*align-items: center;*/
	border-bottom: 1px solid #d2d2d2;
	padding: 10px 0;
}
.teacher_list .img_item{
	width: 30%;
	/*background: red;*/
	text-align: center;
	/*padding: 10px 0;*/
}
.teacher_list .img_item span{
	vertical-align: middle;
	height: 100%;
	display: inline-block;
}
.teacher_list .img_item img{
	width: 80%;
	vertical-align: middle;
}
.teacher_list .content_item{
	flex: 1;
	
}
.teacher_list .content_item h3{
	font-size: 1em;
	padding-top: 5px;
}
.teacher_list .content_item p{
	font-size: 0.6em;
	padding-top: 5px;
	height: 2.5rem;
	width: 80%;
	color: #848484;
}
.teacher_list .content_item span{
	display: inline-block;
	font-size: 0.8em;
	border: 1px solid #f6ce6c;
	color: #f6ce6c;
}
a{
	text-decoration: none;
	color: #f6ce6c;
}


.teacher_detail h3{
				text-align: center;
				margin: 20px 0;
			}
			.teacher_detail{
				display: none;
				height: 100%;
			}
			.teacher_detail .main_div{
				height: 100%;
				padding: 0 15px;
				overflow: scroll;
				-webkit-overflow-scrolling : touch;
			}
			.cover_img{
				text-align: center;
			}
			.cover_img img{
				width: 100%;
			}
			.teacher_detail .main_div .detail_p{
				padding: 20px 0 60px 0;
			}
			.teacher_detail .main_div p{
				line-height: 25px;
				color: gray;
				/*padding: 20px 0 60px 0;*/
				text-indent: 2em;
			}
			.pick_div{
				position: fixed;
				bottom: 0;
				left: 0;
				/*font-size: 0;*/
				background-color: rgba(0,0,0,0.3);
				padding: 10px 0;
				
				display: flex;
				justify-content: space-between;
				width: 100%;
			}
			.pick_div span{
				display: inline-block;
				height: 50px;
			}
			.pick_div img{
				width: 100%;
			}
			.back_div{
				background-color: #cfa972;
				margin: 0 15px;
				padding: 0 15px;
				
			}
			.back_div span{
				height: 100%;
				vertical-align: middle;
			}
			.back_div i{
				color: white;
				font-size: 25px;
				/*line-height: 100%;*/
				vertical-align: middle;
				display: inline-block;
			}
			.pick_btn{
				background-color: #f6ce6e;
				flex: 1;
				padding: 5px 0;
				text-align: center;
				margin-right: 15px;
				color: white;
				font-size: 20px;
			}
			.save_div{
				width: 100%;
				height: 100%;
				position: fixed;
				left: 0;
				top: 0;
				background: rgba(0,0,0,0.8);
				/*overflow: hidden;*/
				display: none;
			}
			.pick_img{
				text-align: center;
				height: 70%;
			}
			.pick_img img{
				/*width: 80%;*/
				width: auto;
				height: 100%;
			}
			.line1{
				padding-top: 10px;
				padding-right: 10px;
				padding-bottom: 10px;
				text-align: right;
			}
			.line1 span{
				display: inline-block;
				border: 2px solid white;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				font-size: 20px;
				text-align: center;
				line-height: 30px;
				color: white;
			}
			.line1 i{
				font-size: 50px;
				color: white;
			}
			.save_div p{
				text-align: center;
				margin: 0;
				padding: 3px 0;
				color: white;
			}
			
/* music */
/*@-webkit-keyframes reverseRotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(-360deg);}
}
@-webkit-keyframes rotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(360deg);}
}*/
#musicControl { position:fixed;right:10px;top:20px;margin-top:0;display:inline-block;z-index:99999999}
#musicControl a { 
	display:inline-block;
	width:50px;
	height:50px;
	overflow:hidden;
	/*background:url(../img/on.png) no-repeat;*/
	background-size: 100% 100%;
}
#musicControl a audio{width:100%;height:56px;}
#musicControl a.stop { 
	background:url(../img/down.png);
	background-size: 100% 100%;
}
#musicControl a.on { 
	background:url(../img/on.png);
	background-size: 100% 100%;
	/*background-position:0px 1px;*/
	/*-webkit-animation: reverseRotataZ 1.2s linear infinite;*/
}
#music_play_filter{width:100%;height:100%;overflow:hidden;position:fixed;top:0;left:0;z-index:99999998;}